<span vocab="http://schema.org/" typeof="Event">

  <p>Crime's category: <span property="name">{{ crime.category }}</span></p>

  <p>Crime's persisten id: <span property="identifier">{{ crime.persisten_id }}</span></p>

  <p>Crime's latitude: <span property="location">{{ crime.latitude }}</span></p>

  <p>Crime's longitude: <span property="location">{{ crime.longitude }}</span></p>

  <p>Crime's date: <span property="endDate">{{ crime.date }}</span></p>

  <p>Crime's policeman assignated: <span property="performer">{{ crime.policeman_assignated }}</span></p>

  <p><a href="{% url 'crime_edit' crime.id %}">Edit</a></p>

<a href="{% url 'home' %}">Back</a>
