<span vocab="http://schema.org/" typeof="AdministrativeArea">
    <div class="event" property="event" typeof="Event">
    <p>NeighbourhoodPriority's action: <span property="name">{{ neighbourhoodpriority.action }}</span></p>
    <p>NeighbourhoodPriority's action date: <span property="startDate">{{ neighbourhoodpriority.action_date }}</span></p>
      <div class="location" property="location" typeof="Place">
      <p>NeighbourhoodPriority's general country: <span property="address">Uk</span></p>
      </div>
    </div>

    <div class="event" property="event" typeof="Event">
    <p>NeighbourhoodPriority's issue: <span property="name">{{ neighbourhoodpriority.issue }}</span></p>
    <p>NeighbourhoodPriority's issue date: <span property="startDate">{{ neighbourhoodpriority.issue_date }}</span></p>
      <div class="location" property="location" typeof="Place">
      <p>NeighbourhoodPriority's general country: <span property="address">Uk</span></p>
      </div>
    </div>

    <p>NeighbourhoodPriority's neighbourhood: <span property="name">{{ neighbourhoodpriority.neighbourhood }}</span></p>

    <p><a href="{% url 'neighbourhoodPriority_edit' neighbourhoodpriority.id %}">Edit</a></p>

<a href="{% url 'home' %}">Back</a>
